footer li, footer p, footer h4, footer h5, footer h6 {text-align: center;
color: white;}


footer {background-color: $darkpurple-2;
padding: 20px;}

footer img, footer ul, footer input {display: block;
margin: 20px auto;}

footer img {height: 80px;
}



nav li::before {display: none;}

nav li {padding: 20px 0;}

nav a {color: white}

.socials {display: flex;
    margin: 20px;

    img {height: 40px;}

}

input[type="submit"] {
    margin: 0 auto;
}

.copyright p {
    text-align: center;
    margin: 20px 0;
    max-width: none;
}

@media screen and (min-width: 56.25rem) {

    footer {display: grid;
    grid-template-columns: 1fr 1fr 1fr;}

    .mailing-list {grid-row: 2/3;
    grid-column: 1/2;}

    .contact {grid-row: 1/2;
    grid-column: 2/3;}

    .socials {grid-column: 2/3;
    grid-row: 2/3;}

    footer nav {grid-row: 1/3;}

    .copyright {
        grid-column: 1/4;}

}

