

nav {z-index: 100000;}

.menu-open {
    overflow: hidden;
}

body {overflow-x: hidden;}

nav:nth-child(1) {
    position: fixed;
    height: 70px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {width: 40%;
max-width: 200px;}

#burger {margin: 20px;}



.menu-cont {
    position: fixed;
    height: 100vh;
    width: 85%;
    background-color: white;
    top: 0;
    right: -100%;
    overflow-x: hidden;
}

.menu-cont 


{ul {padding: 40px;
margin: 0;}

  a {color: black;
    @include fluid-type($min-vw, $max-vw, $mod_1* $mod_1 * $min-font-size, $mod_2 * $mod_2 * $max-font-size);
    }

    a:hover {color: $yellow;}

    a:visited {color: $purple;}


.menu-cont li {padding: 0 20px;
display: block;} }

//.nav class is bug fix
.nav li::before {display: none;}

.open {
    animation: open-menu .7s forwards;
}

.close {
    animation: close-menu .7s forwards;
}

//animations 
@keyframes close-menu {
    from {right: 0%;}
    to {right: -100%;}
}

@keyframes open-menu {
    from {right: -100%;}
    to {right: 0%;}
}



@media screen and (min-width: 60rem) {



    .menu-cont {position: static;
        height: auto;
        width: auto;
        background-color: transparent;

        li {
            display: inline-block;
            padding: 10px 20px;
        }
    
        
    }

    .menu-cont ul {padding: 0;}

    .menu-cont a {display: inline-block;

    @include fluid-type($min-vw, $max-vw, $mod_1 * $min-font-size, $mod_2 *  $max-font-size);
    }

    .menu-cont  p {display: none;}

    #burger {display: none;}

    #exit {display: none;}

    



}



header img {
    display: block;
width: 100%;}

header h1 {text-align: center;
transform: translateY(-4ch);
color: white;}

#exit {
    margin-left: 85%;
    margin-top: 20px;

}








