main img
{display: block;
    width: 100%;
margin: 20px 0;}

main img {
  width: 50%;
}

p {
	margin: 0 auto;
	padding-bottom: 4rem;
}

.img-container {
	padding: 1rem;
}

h1 {
	letter-spacing: 8px;
}