input, button {
  display: block;
  margin: 20px auto; }

main img {
  width: 100%; }

header {
  background-image: linear-gradient(#000, #fff); }

#charitable-donation-form {
  max-width: 100%;
  font-family: "Alegreya", serif; }

.charitable-form-header {
  font-size: 1.61051rem;
  font-weight: 400;
  margin: 20px 0; }

.charitable-form-fields .charitable-fieldset {
  border: none; }

.charitable-donation-form .donation-amounts .donation-amount .custom-donation-amount-wrapper, .charitable-donation-form .donation-amounts .donation-amount > label {
  display: inline;
  font-size: .8em; }

.charitable-donation-form .donation-amounts .donation-amount {
  width: 100%; }

.charitable-donation-form .donation-amounts .donation-amount {
  /*border: none;*/
  font-weight: normal;
  border-radius: 5px; }

.charitable-submit-field .button {
  background-color: #470078;
  color: white; }

#charitable-donor-fields {
  padding: 0; }

.charitable-form-fields .charitable-fieldset {
  margin-bottom: 0; }

.charitable-donation-form .custom-donation-input {
  margin-top: .5%;
  margin-bottom: 0; }

input[type="email"], textarea {
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  font-family: "Avenir Next", Avenir, san-serif;
  font-weight: 500;
  width: 70%;
  max-width: 425px;
  padding: 10px;
  border: solid 1px rgba(17, 17, 17, 0);
  display: block; }

input[type="email"]:hover, textarea:hover {
  opacity: .7; }

input[type="email"]:focus, textarea:focus {
  border: solid 1px #111111;
  outline: none; }

label {
  font-size: 1em;
  font-family: "Avenir Next", Avenir, san-serif; }

ul li::before {
  display: none; }

.charitable-submit-field .button {
  margin: auto; }

.charitable-form-fields .charitable-fieldset {
  padding: 0; }

.charitable-form-header {
  padding-left: 5%; }

.charitable-notice > ul {
  font-size: 1em; }

@media (min-width: 768px) {
  .display_flex {
    display: flex;
    flex-direction: row; }
  .overlap {
    position: absolute;
    top: 20%;
    width: 100%; }
  .info {
    max-width: 50%;
    color: white; }

  #form {
    min-width: 40%;
    max-height: 10%;
    background-color: white; }

  .charitable-donation-form .donation-amounts .donation-amount {
    width: 500%; }

  .mission_content img, .support_content img {
    width: auto; }

  .mission_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%; }

  .mission_content p {
    margin: 2%; }

  .support_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: row-reverse; }

  .support_content p {
    margin: 2%; }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 1%; } }

@media (min-width: 1024px) {
  .overlap {
    top: 25%; }

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 3%; 

  .charitable-donation-form .donation-amounts .donation-amount {
    width: 50%; } 
  
  
    grid-row-gap: 3%; 
  
  }

  


/*# sourceMappingURL=donate.css.map */
