input, button {
  display: block;
  margin: 20px auto; }

header {
  background-image: linear-gradient(#000, #fff); }

@media screen and(min-width: 1056px){
  header {background-image: linear-gradient(#000 50%, #fff);}
}

main{
  background-image: linear-gradient(black, white);
  // width: 100%;
  margin: 0;
  margin-top: -5rem;
}

#donate-main-img {
  max-width: 1056px;
  margin: 0 auto;
  max-height: 100vh;
  }

  .donate-info {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 5%; }

#form {
  background-color: rgba(255, 255, 255, 1);
  width: 80%;
  margin: 0 auto;
  padding: 5%;}

#form p{
  margin: 0;
}

#donate-tagline {
  color: black;
  font-style: italic;
  font-family: "Alegreya", serif;
  margin-top: -3%;
  margin-bottom: 4%;
}

#charitable-donation-form {
  max-width: 100%;
  font-family: "Alegreya", serif;
  padding: 0;
}

.charitable-form-header {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 10px 0; }

.charitable-form-fields .charitable-fieldset {
  border: none; }

.charitable-form-fields{
  font-size: .875rem;
}


.charitable-donation-form .donation-amounts .donation-amount .custom-donation-amount-wrapper, .charitable-donation-form .donation-amounts .donation-amount > label {
  display: inline;
  font-size: .8em; }

.charitable-donation-form .donation-amounts .donation-amount {
  width: 100%; }

.charitable-donation-form .donation-amounts .donation-amount {
  /*border: none;*/
  font-weight: normal;
  border-radius: 5px; }

.charitable-submit-field .button {
  background-color: #470078;
  color: white; }

#charitable-donor-fields {
  padding: 0; }

.charitable-form-fields .charitable-fieldset {
  margin-bottom: 0; }

.charitable-donation-form .custom-donation-input {
  /* margin-top: .5%; */
  margin-bottom: 0; 
  width: 30px;}

#form input{
  margin: 0;
  padding: 5px;
}

input[type="email"], textarea {
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  font-family: "Avenir Next", Avenir, san-serif;
  font-weight: 500;
  width: 70%;
  max-width: 425px;
  padding: 10px;
  border: solid 1px rgba(17, 17, 17, 0);
  display: block; }

input[type="email"]:hover, textarea:hover {
  opacity: .7; }

input[type="email"]:focus, textarea:focus {
  border: solid 1px #111111;
  outline: none; }

label {
  font-size: 1em;
  font-family: "Avenir Next", Avenir, san-serif; }

ul li::before {
  display: none; }

.charitable-submit-field .button {
  margin: auto; }

.charitable-form-fields .charitable-fieldset {
  padding: 0; }

.charitable-form-header {
  padding-left: 5%; }

.charitable-notice > ul {
  font-size: 1em; }


.icons p{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.icons img{
  max-width: 150px;
}


@media (min-width: 650px) {
  main{
    margin-top: -5.5rem;
  }
}

@media (min-width: 768px) {
  .display_flex {
    display: flex;
    flex-direction: row; }
  .info {
    max-width: 700px;
    color: black; }
  #form {
    //min-width: 40%;
    //max-height: 10%; }
  .charitable-donation-form .donation-amounts .donation-amount {
    width: 500%; }
  .mission_content img, .support_content img {
    width: auto; }
  .mission_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%; }
  .mission_content p {
    margin: 2%; }
  .support_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-direction: row-reverse; }
  .support_content p {
    margin: 2%; }
  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 1%; } }


@media (min-width: 935px) {
  main{
    margin-top: -6rem;
  }
}   

@media (min-width: 1000px){
  .overlap {
    position: absolute;
    top: 16%;
    left: 35%;}
  #form{
    background-color: rgba(255, 255, 255, .8)
  }
}

@media (min-width: 1024px) {
  .overlap {
    left: 35%; }
  .icons {
    display: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 3%; } }

.donate-info {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 5%; }

  @media (min-width: 1200px) {
    main{
      margin-top: -7rem;
    }
  }
}
