* {
  box-sizing: border-box; /* image will format on side of text */
}

html {
  scroll-behavior: smooth;
}

main{
  max-width: 640px;
  margin: 0 auto;
}

@media screen and (min-width: 990px) {
  main{
      max-width: 770px;
  }
}

.edu-classes-img{
  display: block;
}

.course-links-container {
  display: inline-block;
  line-height: 1.9;
  text-align: left;
  max-width: 400px;
}

#course-h3 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1em;
}

#course-img {
  margin-left: 30%;
  min-width: 100%;
}

.intro {
  width: 900px;
  padding: 1rem 0 3.5em;
  margin: 0 auto;
}

/*#swirl-container {
  text-align: center;
  padding: 3rem 0;
}
*/
#swirl-container{
  margin: 0 auto;
}

.classes-container {
  padding: 2rem 1rem 3rem;
}

.edu-links-flex{
  display: flex;
  flex-flow: row wrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.text-column {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.pic-column {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}


@media screen and (max-width: 1024px) {
  .text-column, .pic-column {
    width: 100%;
    text-align: center;
  }

  .intro {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }

  #course-img {
    margin-left: 0;
  }

  img {
    margin: auto;
  }
}