.links {
	text-align: center;
}

.course-links-container {
	display: inline-block;
	line-height: 1.9;
	text-align: left;
}

.intro {
	width: 900px;
	padding: 1rem;
	margin: 0 auto;
}

#swirl-container {
	text-align: center;
	padding: 3rem 0;
}

.classes-container {
	display: inline;
}

.class-desc {
	padding-bottom: 5rem;
}

h1{
	text-transform: uppercase;
}